### Please read the documentation first
### https://docs.vespura.com/redmenu


## Configuration options

# Enable permissions. If set to false, a default set of permissions will be used.
setr enable_permissions "true" # Default: "true"

# Unlocks the full map, removing the FOW (Fog Of War).
setr unlock_full_map "true" # Default: "true"

# Enables max health, stamina and deadeye outer cores by default when the player joins. 
# This setting has no effect on the "Max Outer Cores" option in the Player Menu.
setr enable_max_stats "true" # Default: "true"

# This will be used as the menu subtitle in the Server Info menu.
# It doesn't have to be a website, it can also just be your server name.
setr server_info_subtitle "www.vespura.com"


## Permissions
## For information about permissions, checkout the docs at https://docs.vespura.com/redmenu and checkout this topic:

## Principals (groups)
## You don't need to use every identifier, but you can if you want to.
## Note for steam: use the Steam 64 HEX ID.

# Admins
## In this example, I'm adding my own identifiers to the group "group.admin".
add_principal identifier.steam:110000105959047 group.admin
add_principal identifier.license:4510587c13e0b645eb8d24bc104601792277ab98 group.admin
add_principal identifier.xbl:2535449515926077 group.admin
add_principal identifier.live:844427594787542 group.admin
add_principal identifier.discord:223799456162775043 group.admin


# Moderators
## In this example, I'm adding my own identifiers to the group "group.moderator".
# add_principal identifier.steam:110000105959047 group.moderator
# add_principal identifier.license:4510587c13e0b645eb8d24bc104601792277ab98 group.moderator
# add_principal identifier.xbl:2535449515926077 group.moderator
# add_principal identifier.live:844427594787542 group.moderator
# add_principal identifier.discord:223799456162775043 group.moderator


## Group inheritance
## In this example, group.admin gets everything of group.moderator
## If you setup inheritance properly, you don't need to add your staff members to every group because the groups inherit permissions from eachother.
add_principal group.admin group.moderator

## Other example:
## If you have a group called "group.vip" and  you want admins/mods to also get all vip permissions, 
## keep the example above and also add the example below.
## This will make group.moderator inherit all permissions from group.vip, 
## and group.admin inherit everything from group.moderator 
## (and also group.vip automatically because group.moderator inherits everything from group.vip):
# add_principal group.moderator group.vip



## Aces (permissions)

## Global permissions
add_ace builtin.everyone "RedMenu.NoClip" allow   # Give everyone access to No Clip by default.
add_ace group.admin "RedMenu" allow               # Give admins all permissions by default.


## Player Menu
add_ace builtin.everyone "RedMenu.PlayerMenu" allow  # This is a wildcard, if you grant this everything in the menu will be granted.
# add_ace builtin.everyone "RedMenu.PlayerMenu.Menu" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.RestoreHealth" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.RestoreStamina" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.RestoreDeadEye" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.MaxOuterCores" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.GodMode" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.InfiniteStamina" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.InfiniteDeadEye" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.ClearTasks" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.HogtieSelf" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.CleanPed" allow
# add_ace builtin.everyone "RedMenu.PlayerMenu.SelectPlayerModel" allow # Player Appearance option
# add_ace builtin.everyone "RedMenu.PlayerMenu.SelectOutfit" allow # Player Appearance option
# add_ace builtin.everyone "RedMenu.PlayerMenu.CustomizeMpPeds" allow # Player Appearance option


## Weapons Menu
add_ace builtin.everyone "RedMenu.WeaponsMenu" allow # This is a wildcard, if you grant this everything in the menu will be granted.
# add_ace builtin.everyone "RedMenu.WeaponsMenu.Menu" allow
# add_ace builtin.everyone "RedMenu.WeaponsMenu.GetAllWeapons" allow
# add_ace builtin.everyone "RedMenu.WeaponsMenu.GetSingleWeapon" allow
# add_ace builtin.everyone "RedMenu.WeaponsMenu.RemoveAllWeapons" allow
# add_ace builtin.everyone "RedMenu.WeaponsMenu.RemoveCurrentWeapon" allow
# add_ace builtin.everyone "RedMenu.WeaponsMenu.MaxAmmo" allow
# add_ace builtin.everyone "RedMenu.WeaponsMenu.GiveAmmo" allow

